<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>
<body>
    <div class="container">
        <h1>Just One Drinkbook</h1>
        <!-- Search Form -->
        <div class="sub-container">
            <form id="searchform" action="/search" method="POST">
            
                <input type="text" id="search-input" name="search-form" placeholder="Look for drink recipes...">
                <br>
                <button type="submit">Search</button>

            </form>
        </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>